blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.35
typing_extensions==4.12.2
Werkzeug==3.0.4
python-dotenv==1.0.1
Flask-Bcrypt==1.0.1
bcrypt~=4.2.0
WTForms~=3.2.1
decouple~=0.0.7
Flask-Migrate~=4.0.7
email-validator==1.2.1
flask_mail==0.10.0
flask_wtf==1.2.2
flask_mail==0.10.0
flask_wtf==1.2.2
flask-cors==5.0.0
flask_cors==5.0.0
requests==2.32.3