
<div class="main-content">
    <!-- Main Character View-->
    <div class="character_viewer" id="character_viewer">
        <!-- Multiuse Block. TODO: Add tabs to block-->
        <div class="multiuse_character_info_switch_block"></div>

        <!-- Hit Points-->
        <div class="character_hit_points_block" id="hit_points_block">
            <div class="hp_modifier_block" id="hp_modifier_block">
                <button id="hp_heal_button" class="hp_heal_button">Heal</button>
                <input type="number" id="hp_change_field" value="0" min="0" max="10000" step="1" class="hp_change_field">
                <button id="hp_damage_button" class="hp_damage_button">Damage</button>
            </div>
            <span class="hit_points_block_label" id="hit_point_label">Hit Points</span>
            <div class="hp_display_block" id="hp_display_block">
                <span class="current_hp_label">Current</span><span class="max_hp_label">Max</span><span class="temp_hp_label">Temp</span>
                <span class="current_hp_field" id="hp_current">{{ char_data.char_si?.hit_points ?? '--' }}</span>
                <span class="hp_divider_label" id="divider">/</span>
                <span class="max_hp_field" id="hp_max">{{ char_data.char_si?.max_hit_points ?? '--' }}</span>
                <span class="temp_hp_field" id="hp_temp">{{ char_data.char_si?.temp_hit_points ?? '--' }}</span>
            </div>
        </div>

        <!-- Character Modifiers-->
        <div class="character_modifiers_block" id="modifiers_block">
            <div *ngFor="let mod of char_data.char_si?.modifier_scores; let i = index"
                [class]="'character_modifier_' + ( i + 1) + ' character_modifier_base'"
                [id]="'modifier_' + (i + 1)"
                >
                <span class="character_modifier_name" [id]="'modifier_label_' + (i + 1)">{{ mod?.modifier_name !== undefined ? (mod.modifier_name | capitalize) : '[Unknown]' }}</span>
                <button class="character_modifier_score_field" [id]="'character_modifier_score_field_' + (i + 1)">{{ mod?.score !== undefined ? mod.score : '--' }}</button>
                <button class="character_modifier_field" [id]="'character_modifier_field_' + (i + 1)">{{ mod?.value == undefined ? '--' : mod.value >= 0 ? '+' + mod.value : mod.value }}</button>
            </div>
        </div>

        <!-- Character Skills-->
        <div class="character_skills_block" id="character_skills">
            <div *ngFor="let skill of char_data.char_si?.skills; let i = index"  
                class="character_skill_line" 
                [id]="'skill_' + skill.skill_id"
                >
                <div *ngIf="i < 18">
                    <span class="character_skill_line_proficient" [id]="'skill_' + skill.skill_id + '_proficient'">{{ skill?.proficient == undefined ? '&#9675;' : skill.proficient == true ? '&#9679;' : '&#9675;' }}</span>
                    <span class="character_skill_line_skill_name" [id]="'skill_' + skill.skill_id + '_name'">{{ skill?.skill_name ?? '[Unknown Skill Name]' }}</span>
                    <span class="character_skill_line_mod" [id]="'mod_' + skill.skill_id + '_label'">{{ skill?.modifier_type !== undefined ? (skill.modifier_type.substring(0,3) | uppercase) : '[??]' }}</span>
                    <button [id]="'skill_' + skill.skill_id + '_modifier'" name="skill_id_modifier" class="character_skill_line_bonus"> 
                        {{ ((skill?.modifier_value !== undefined) ? (((skill?.proficient !== undefined ? true : false) && (char_data.char_si?.proficiency_bonus !== undefined ? true : false)) ? ((skill.modifier_value + char_data.char_si.proficiency_bonus >= 0 ? '+' : '') + (skill.modifier_value + char_data.char_si.proficiency_bonus)) : ((skill.modifier_value >= 0 ? '+' : '') + (skill.modifier_value))) : '--' )}}
                    </button>
                </div>
            </div>

            <div class="character_skills_title_bar" id="character_skills_title"><span class="character_skills_base_title character_skills_proficient_title">Prof.</span><span class="character_skills_base_title character_skills_skill_title">Skill</span><span class="character_skills_base_title character_skills_modifier_title">Mod</span><span class="character_skills_base_title character_skills_bonus_title">Bonus</span></div>
            <div class="character_skills_footer_bar" id="character_skills_footer"><span class="character_skills_block_label" id="skill_block_label">Skills</span></div>
        </div>

        <!-- Character Class Info-->
        <div class="character_info_block" id="character_info_block">
            <span class="character_info_label" id="character_class_and_levels" *ngIf="char_data.char_si?.classes !== undefined">
                <span *ngFor="let cls of char_data.char_si?.classes; let isLast = last; let i = index"
                    [id]="'class_level_container_' + (i+1)"
                    >
                    <span [id]="'class_level_' + (i+1)">Level {{ cls.level }} {{ cls.class_name }}</span>
                    <span>&#44;   <ng-container *ngIf="!isLast">{{ char_data.char_si.classes.length/4 > 1 ? '&nbsp;' : ''}}</ng-container></span>
                    <ng-container *ngIf="i % Math.ceil(char_data.char_si.classes.length/4) == 0"><br></ng-container>
                    <ng-container *ngIf="i % Math.ceil(char_data.char_si.classes.length/4) != 0">&#9;</ng-container>
                </span>
            </span>
            <span class="character_info_label" id="character_class_and_levels" *ngIf="char_data.char_si?.classes == undefined">[Unknown Class(es)]</span>
        </div>

        <!-- Character Name / Race / Level-->
        <div class="title_block" id="title_block"><span class="character_name_label" id="character_name">{{ char_data.char_si?.name ?? 'Unknown' }}</span>
            <span class="character_race_label">{{ char_data.char_si?.race_name ?? 'Unknown Race' }}</span>
            <span class="character_level_label">{{ char_data.char_si?.total_level ?? 'Unknown Level' }}</span>
            <div class="character_profile_image" id="character_profile_image"></div>
        </div>

        <!-- Character Combat-ish Stats-->
        <div class="character_combat_stats_block" id="combat_stats">
            <div class="combat_skill_base inspiration_block" id="inspiration_block">
                <span class="inspiration_label" id="inspiration_label">Inspiration</span>
                <button id="inspiration_field" class="inspiration_field">{{ (char_data.char_si?.inspiration !== undefined && char_data.char_si?.inspiration) ? (char_data.char_si?.inspiration == 1 ? '[ X ]' : '[ ' + char_data.char_si?.inspiration + ' ]') : ('[  ]') }}</button>
            </div>
            <div class="combat_skill_base initiative_block" id="initiative_block">
                <span class="initiative_label" id="initiative_label">Initiative<br></span>
                <button id="initiative_field" class="initiative_field">{{ char_data.char_si?.initiative !== undefined ? (char_data.char_si?.initiative >= 0 ? '+' + char_data.char_si?.initiative : char_data.char_si?.initiative) : '+X' }}</button>
            </div>
            <div class="combat_skill_base armor_class_block" id="armor_class_block">
                <span class="armor_class_bottom_label" id="armor_class_bottom_label">Class</span><span class="armor_class_top_label" id="armor_class_top_label">Armor</span>
                <span class="armor_class_field" id="armor_class">{{ char_data.char_si?.armor_class ?? '--' }}</span>
            </div>
            <div class="combat_skill_base walking_speed_block" id="walking_speed_block">
                <span class="walking_speed_bottom_label" id="walking_speed_bottom_label">Speed</span><span class="walking_speed_top_label" id="walking_speed_top_label">Walking</span>
                <span class="walking_speed_field" id="walking_speed">{{ char_data.char_si?.speed ?? '--' }}</span>
            </div>
            <div class="combat_skill_base passive_perception_block" id="passive_perception_block">
                <span class="passive_perception_bottom_label" id="passive_perception_bottom_label">Perception</span><span class="passive_perception_top_label" id="passive_perception_top_label">Passive<br></span>
                <span class="passive_perception_field" id="passive_perception">{{ char_data.char_si?.passive_perception ?? '--' }}</span>
            </div>
            <div class="combat_skill_base proficiency_bonus_block" id="proficiency_bonus_block">
                <span class="proficiency_bonus_bottom_label" id="proficiency_bonus_bottom_label">Bonus</span><span class="proficiency_bonus_top_label" id="proficiency_bonus_top_label">Proficiency</span>
                <span class="proficiency_bonus_field" id="proficiency_bonus">{{ char_data.char_si?.proficiency_bonus ?? '--' }}</span>
            </div>
        </div>

        <!-- Character Saving Throws-->
        <div class="saving_throws_block" id="saving_throws_block">
            <div class="saving_throws_block_footer" id="saving_throws_footer">
                <span class="saving_throws_block_label" id="saving_throws_block_label">Saving Throws</span>
            </div>
            <!-- Strength -->
            <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_1" id="saving_throw_1">
                <span class="saving_throw_proficient" id="saving_throw_1_proficient">{{checkProficiency('STR') ? '&#9679;' : '&#9675;' }}</span>
                <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation">STR</span>
                <button id="saving_throw_1_field" class="saving_throw_field">
                    <ng-container *ngIf="char_data.char_si?.modifier_scores !== undefined">
                        <ng-container *ngIf="checkProficiency('STR') && char_data.char_si?.proficiency_bonus !== undefined">
                            {{ (char_data.char_si?.modifier_scores[4].value + char_data.char_si?.proficiency_bonus) >= 0 ? '+' : '' }} {{ (char_data.char_si?.modifier_scores[4].value + char_data.char_si?.proficiency_bonus) }}
                        </ng-container>
                        <ng-container *ngIf="!(checkProficiency('STR') && char_data.char_si?.proficiency_bonus !== undefined)">
                            {{ char_data.char_si?.modifier_scores[4].value >= 0 ? '+' : '' }} {{ char_data.char_si?.modifier_scores[4].value }}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!(char_data.char_si?.modifier_scores !== undefined)">--</ng-container>
                </button>
            </div>
            <!-- Dexterity -->
            <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_2" id="saving_throw_2">
                <span class="saving_throw_proficient" id="saving_throw_1_proficient_1">{{checkProficiency('DEX') ? '&#9679;' : '&#9675;' }}</span>
                <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_1">DEX</span>
                <button id="saving_throw_1_field_1" class="saving_throw_field">
                    <ng-container *ngIf="char_data.char_si?.modifier_scores !== undefined">
                        <ng-container *ngIf="checkProficiency('DEX') && char_data.char_si?.proficiency_bonus !== undefined">
                            {{ (char_data.char_si?.modifier_scores[1].value + char_data.char_si?.proficiency_bonus) >= 0 ? '+' : '' }} {{ (char_data.char_si?.modifier_scores[1].value + char_data.char_si?.proficiency_bonus) }}
                        </ng-container>
                        <ng-container *ngIf="!(checkProficiency('DEX') && char_data.char_si?.proficiency_bonus !== undefined)">
                            {{ char_data.char_si?.modifier_scores[1].value >= 0 ? '+' : '' }} {{ char_data.char_si?.modifier_scores[1].value }}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!(char_data.char_si?.modifier_scores !== undefined)">--</ng-container>
                </button>
            </div>
            <!-- Constitution -->
            <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_3" id="saving_throw_3">
                <span class="saving_throw_proficient" id="saving_throw_1_proficient_2">{{checkProficiency('CON') ? '&#9679;' : '&#9675;' }}</span>
                <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_2">CON</span>
                <button id="saving_throw_1_field_2" class="saving_throw_field">
                    <ng-container *ngIf="char_data.char_si?.modifier_scores !== undefined">
                        <ng-container *ngIf="checkProficiency('CON') && char_data.char_si?.proficiency_bonus !== undefined">
                            {{ (char_data.char_si?.modifier_scores[0].value + char_data.char_si?.proficiency_bonus) >= 0 ? '+' : '' }} {{ (char_data.char_si?.modifier_scores[0].value + char_data.char_si?.proficiency_bonus) }}
                        </ng-container>
                        <ng-container *ngIf="!(checkProficiency('CON') && char_data.char_si?.proficiency_bonus !== undefined)">
                            {{ char_data.char_si?.modifier_scores[0].value >= 0 ? '+' : '' }} {{ char_data.char_si?.modifier_scores[0].value }}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!(char_data.char_si?.modifier_scores !== undefined)">--</ng-container>
                </button>
            </div>
            <!-- Intelligence -->
            <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_4" id="saving_throw_4">
                <span class="saving_throw_proficient" id="saving_throw_1_proficient_3">{{checkProficiency('INT') ? '&#9679;' : '&#9675;' }}</span>
                <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_3">INT</span>
                <button id="saving_throw_1_field_3" class="saving_throw_field">
                    <ng-container *ngIf="char_data.char_si?.modifier_scores !== undefined">
                        <ng-container *ngIf="checkProficiency('INT') && char_data.char_si?.proficiency_bonus !== undefined">
                            {{ (char_data.char_si?.modifier_scores[3].value + char_data.char_si?.proficiency_bonus) >= 0 ? '+' : '' }} {{ (char_data.char_si?.modifier_scores[3].value + char_data.char_si?.proficiency_bonus) }}
                        </ng-container>
                        <ng-container *ngIf="!(checkProficiency('INT') && char_data.char_si?.proficiency_bonus !== undefined)">
                            {{ char_data.char_si?.modifier_scores[3].value >= 0 ? '+' : '' }} {{ char_data.char_si?.modifier_scores[3].value }}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!(char_data.char_si?.modifier_scores !== undefined)">--</ng-container>
                </button>
            </div>
            <!-- Wisdom -->
            <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_5" id="saving_throw_5">
                <span class="saving_throw_proficient" id="saving_throw_1_proficient_4">{{checkProficiency('WIS') ? '&#9679;' : '&#9675;' }}</span>
                <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_4">WIS</span>
                <button id="saving_throw_1_field_4" class="saving_throw_field">
                    <ng-container *ngIf="char_data.char_si?.modifier_scores !== undefined">
                        <ng-container *ngIf="checkProficiency('WIS') && char_data.char_si?.proficiency_bonus !== undefined">
                            {{ (char_data.char_si?.modifier_scores[2].value + char_data.char_si?.proficiency_bonus) >= 0 ? '+' : '' }} {{ (char_data.char_si?.modifier_scores[2].value + char_data.char_si?.proficiency_bonus) }}
                        </ng-container>
                        <ng-container *ngIf="!(checkProficiency('WIS') && char_data.char_si?.proficiency_bonus !== undefined)">
                            {{ char_data.char_si?.modifier_scores[2].value >= 0 ? '+' : '' }} {{ char_data.char_si?.modifier_scores[2].value }}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!(char_data.char_si?.modifier_scores !== undefined)">--</ng-container>
                </button>
            </div>
            <!-- Charisma -->
            <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_6" id="saving_throw_6">
                <span class="saving_throw_proficient" id="saving_throw_1_proficient_5">{{checkProficiency('CHA') ? '&#9679;' : '&#9675;' }}</span>
                <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_5">CHA</span>
                <button id="saving_throw_1_field_5" class="saving_throw_field">
                    <ng-container *ngIf="char_data.char_si?.modifier_scores !== undefined">
                        <ng-container *ngIf="checkProficiency('CHA') && char_data.char_si?.proficiency_bonus !== undefined">
                            {{ (char_data.char_si?.modifier_scores[5].value + char_data.char_si?.proficiency_bonus) >= 0 ? '+' : '' }} {{ (char_data.char_si?.modifier_scores[5].value + char_data.char_si?.proficiency_bonus) }}
                        </ng-container>
                        <ng-container *ngIf="!(checkProficiency('CHA') && char_data.char_si?.proficiency_bonus !== undefined)">
                            {{ char_data.char_si?.modifier_scores[5].value >= 0 ? '+' : '' }} {{ char_data.char_si?.modifier_scores[5].value }}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!(char_data.char_si?.modifier_scores !== undefined)">--</ng-container>
                </button>
            </div>
        </div>


    </div>
</div>