<div class="auth-container">
    <div class="auth-form">
      <a class="logoLink" href="/">
        <img src="assets/images/RILogoWithTextNoBorder.png" alt="Logo" class="auth-logo">
      </a>
      <h2>Log Into Your Account</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email input -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            formControlName="email"
            class="input-field"
            type="email"
            placeholder="YourEmail@SomeDomain"
          />
          <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="error-messages">
            <div *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger">Email is required.</div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']" class="text-danger">Please enter a valid email.</div>
          </div>
        </div>
  
        <!-- Password input -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            formControlName="password"
            class="input-field"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="YourPasswordHere!"
          />
          <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="error-messages">
            <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is required.</div>
          </div>
          <button type="button" (click)="togglePasswordVisibility()">
            {{ showPassword ? 'Hide' : 'Show' }} Password
          </button>
        </div>
  
        <button class="auth-button" type="submit" [disabled]="loginForm.invalid">Sign in</button>
      </form>
  
      <div class="extra-links">
        <p class="link-text">New User? <a href="/register">Register now</a></p>
        <p class="link-text">Forgot Your Password? <a href="#">Not Implemented Yet</a></p>
      </div>
    </div>
  </div>