<div class="auth-container">
    <div class="auth-form">
        <a class="logoLink" href="/">
            <img src="assets/images/RILogoWithTextNoBorder.png" alt="Logo" class="auth-logo">
        </a>
        <h2>Welcome! Confirm Your Account</h2>
        <div class="text-center">
            <br />
            <p>
                You have not confirmed your account. Please check your inbox (and your spam
                folder) - you should have received an email with a confirmation link.
            </p>
            <div class="extra-links">
                <p class="link-text">
                    Didn't get the email? <a href="#" (click)="resendConfirmation()">Resend</a>
                </p>
                <p class="link-text">
                    Don't want to right now? <a href="#" (click)="logout()">Log Out Instead</a>
                </p>
            </div>
        </div>
    </div>
</div>
