:root {
    --primary-color: #4a4a4a;
    --secondary-color: #8a8a8a;
    --tertiary-color: rgba(217, 217, 217, 0.8); /* 80% opacity for login form */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/images/authBackground.png') no-repeat center center;
    background-size: cover;
    overflow: hidden; /* Keep as hidden. Do not want scroll bars here */
}

/* Login Form on Background Image. Only on left bit of screen */
.auth-container {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 40vw;
    height: 80vh;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
}

.auth-form {
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-form h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 30px;
}

label, .input-field {
    width: 100%;
}

/* Field Labels */
label {
    font-size: 1em;
    color: var(--primary-color);
    margin-top: 100px;
}

/* Bubble Fields */
.input-field {
    padding: 15px;
    margin: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    font-size: 1em;
    outline: none;
    background-color: #ffffff;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: var(--primary-color);
}

.auth-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: var(--secondary-color);
}

.extra-links {
    margin-top: 20px;
    font-size: 0.9em;
    color: var(--secondary-color);
    text-align: center;
}

.link-text {
    font-size: 1em;
    color: black;
    text-align: center;
    display: block;
}

.link-text a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.link-text a:hover {
    color: var(--secondary-color);
}

.logoLink {
    text-decoration: none;
    display: inline-block;
    padding: 0;
    max-width: 300px;
}

.auth-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Show Password Checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 0.9em;
    color: var(--primary-color);
    gap: 7px;
    /* Necessary to ensure checkbox doesn't get pushed down. Why default padding? */
    margin: 0;
    padding: 0;
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    accent-color: var(--primary-color);
    position: relative;
    vertical-align: middle;
}

/* "Password must have:" text */
.password-feedback {
    color: red;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}