
{% macro insert_character_sheet() %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/character_sheet_view.css') }}">

<!-- TODO: Add Jinja code to fill all locations where dynamic information is needed... -->
<!-- Main Character View-->
<div class="character_viewer" id="character_viewer">
    <!-- Multiuse Block. TODO: Add tabs to block-->
    <div class="multiuse_character_info_switch_block"></div>

    <!-- Hit Points-->
    <div class="character_hit_points_block" id="hit_points_block">
        <div class="hp_modifier_block" id="hp_modifier_block">
            <button id="hp_heal_button" class="hp_heal_button">Heal</button>
            <input type="number" id="hp_change_field" value="5" min="0" max="10" step="1" class="hp_change_field">
            <button id="hp_damage_button" class="hp_damage_button">Damage</button>
        </div>
        <span class="hit_points_block_label" id="hit_point_label">Hit Points</span>
        <div class="hp_display_block" id="hp_display_block">
            <span class="current_hp_label">Current</span><span class="max_hp_label">Max</span><span class="temp_hp_label">Temp</span>
            <span class="current_hp_field" id="hp_current">--</span><span class="hp_divider_label" id="divider">/</span><span class="max_hp_field" id="hp_max">--</span><span class="temp_hp_field" id="hp_temp">--</span>
        </div>
    </div>

    <!-- Character Modifiers-->
    <div class="character_modifiers_block" id="modifiers_block">
        <div class="character_modifier_1 character_modifier_base" id="modifier_1">
            <span class="character_modifier_name" id="modifier_label_1">Mod.Name</span>
            <button id="score_field" class="character_modifier_score_field" id="character_modifier_score_field_1">19</button>
            <button id="modifier_field" class="character_modifier_field" id="character_modifier_field_1">+X</button>
        </div>
        <div class="character_modifier_2 character_modifier_base" id="modifier_2">
            <span class="character_modifier_name" id="modifier_label_2">Mod.Name</span>
            <button id="score_field_1" class="character_modifier_score_field" id="character_modifier_score_field_2">19</button>
            <button id="modifier_field_1" class="character_modifier_field" id="character_modifier_field_2">+X</button>
        </div>
        <div class="character_modifier_base character_modifier_3" id="modifier_3">
            <span class="character_modifier_name" id="modifier_label_3">Mod.Name</span>
            <button id="score_field_2" class="character_modifier_score_field" id="character_modifier_score_field_3">19</button>
            <button id="modifier_field_2" class="character_modifier_field" id="character_modifier_field_3">+X</button>
        </div>
        <div class="character_modifier_base character_modifier_4" id="modifier_4">
            <span class="character_modifier_name" id="modifier_label_4">Mod.Name</span>
            <button id="score_field_3" class="character_modifier_score_field" id="character_modifier_score_field_4">19</button>
            <button id="modifier_field_3" class="character_modifier_field" id="character_modifier_field_4">+X</button>
        </div>
        <div class="character_modifier_base character_modifier_5" id="modifier_5">
            <span class="character_modifier_name" id="modifier_label_5">Mod.Name</span>
            <button id="score_field_4" class="character_modifier_score_field" id="character_modifier_score_field_5">19</button>
            <button id="modifier_field_4" class="character_modifier_field" id="character_modifier_field_5">+X</button>
        </div>
        <div class="character_modifier_base character_modifier_6" id="modifier_6">
            <span class="character_modifier_name" id="modifier_label_6">Mod.Name</span>
            <button id="score_field_5" class="character_modifier_score_field" id="character_modifier_score_field_6">19</button>
            <button id="modifier_field_5" class="character_modifier_field" id="character_modifier_field_6">+X</button>
        </div>
    </div>

    <!-- Character Skills-->
    <div class="character_skills_block" id="character_skills">
        <!-- TODO: Add Jinja code to automatically populate skills with characters skills-->
        <!-- Jinja For loop-->
            <div class="character_skill_line" id="skill_1">
                <span class="character_skill_line_proficient" id="skill_1_proficient">*</span><span class="character_skill_line_skill_name" id="skill_1_name">[Skill Name Here]</span><span class="character_skill_line_mod" id="mod_1_label">WIS</span>
                <button id="skill_1_modifier" class="character_skill_line_bonus">+X</button>
            </div>
        <!-- end Jinja loop-->
        <div class="character_skills_title_bar" id="character_skills_title"><span class="character_skills_base_title character_skills_proficient_title">Prof.</span><span class="character_skills_base_title character_skills_skill_title">Skill</span><span class="character_skills_base_title character_skills_modifier_title">Mod</span><span class="character_skills_base_title character_skills_bonus_title">Bonus</span></div>
        <div class="character_skills_footer_bar" id="character_skills_footer"><span class="character_skills_block_label" id="skill_block_label">Skills</span></div>
    </div>

    <!-- Character Class Info-->
    <div class="character_info_block" id="character_info_block"><span class="character_info_label" id="character_class_and_levels">[Character Class + Level]</span></div>

    <!-- Character Name / Race / Level-->
    <div class="title_block" id="title_block"><span class="character_name_label" id="character_name">Default Name</span>
        <p class="character_race_label">Default Race</p><span class="character_level_label">[Total Level / Exp]</span>
        <div class="character_profile_image" id="character_profile_image"></div>
    </div>

    <!-- Character Combat-ish Stats-->
    <div class="character_combat_stats_block" id="combat_stats">
        <div class="combat_skill_base inspiration_block" id="inspiration_block">
            <span class="inspiration_label" id="inspiration_label">Inspiration</span>
            <button id="inspiration_field" class="inspiration_field">[  ]</button>
        </div>
        <div class="combat_skill_base initiative_block" id="initiative_block">
            <span class="initiative_label" id="initiative_label">Initiative<br></span>
            <button id="initiative_field" class="initiative_field">+X</button>
        </div>
        <div class="combat_skill_base armor_class_block" id="armor_class_block">
            <span class="armor_class_bottom_label" id="armor_class_bottom_label">Class</span><span class="armor_class_top_label" id="armor_class_top_label">Armor</span>
            <span class="armor_class_field" id="armor_class">--</span>
        </div>
        <div class="combat_skill_base walking_speed_block" id="walking_speed_block">
            <span class="walking_speed_bottom_label" id="walking_speed_bottom_label">Speed</span><span class="walking_speed_top_label" id="walking_speed_top_label">Walking</span>
            <span class="walking_speed_field" id="walking_speed">--</span>
        </div>
        <div class="combat_skill_base passive_perception_block" id="passive_perception_block">
            <span class="passive_perception_bottom_label" id="passive_perception_bottom_label">Perception</span><span class="passive_perception_top_label" id="passive_perception_top_label">Passive<br></span>
            <span class="passive_perception_field" id="passive_perception">--</span>
        </div>
        <div class="combat_skill_base proficiency_bonus_block" id="proficiency_bonus_block">
            <span class="proficiency_bonus_bottom_label" id="proficiency_bonus_bottom_label">Bonus</span><span class="proficiency_bonus_top_label" id="proficiency_bonus_top_label">Proficiency</span>
            <span class="proficiency_bonus_field" id="proficiency_bonus">--</span>
        </div>
    </div>

    <!-- Character Saving Throws-->
    <div class="saving_throws_block" id="saving_throws_block">
        <div class="saving_throws_block_footer" id="saving_throws_footer">
            <span class="saving_throws_block_label" id="saving_throws_block_label">Saving Throws</span>
        </div>
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_1" id="saving_throw_1">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient">*</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation">ABRV.</span>
            <button id="saving_throw_1_field" class="saving_throw_field">+X</button>
        </div>
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_2" id="saving_throw_2">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_1">*</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_1">ABRV.</span>
            <button id="saving_throw_1_field_1" class="saving_throw_field">+X</button>
        </div>
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_3" id="saving_throw_3">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_2">*</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_2">ABRV.</span>
            <button id="saving_throw_1_field_2" class="saving_throw_field">+X</button>
        </div>
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_4" id="saving_throw_4">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_3">*</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_3">ABRV.</span>
            <button id="saving_throw_1_field_3" class="saving_throw_field">+X</button>
        </div>
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_5" id="saving_throw_5">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_4">*</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_4">ABRV.</span>
            <button id="saving_throw_1_field_4" class="saving_throw_field">+X</button>
        </div>
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_6" id="saving_throw_6">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_5">*</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_5">ABRV.</span>
            <button id="saving_throw_1_field_5" class="saving_throw_field">+X</button>
        </div>
    </div>


</div>

{%- endmacro %}