{% extends "base.html" %}

{% block title_content %}Character Creator{% endblock %}

{% block body_content %}
    <div class="main-content">
        <h1>Character Creator</h1>
        <p>Welcome to the character creator! Here you can design your own Dungeons and Dragons character.</p>
        <p>Follow the steps below to build your character:</p>

        <div class="tabs">
            <button class="tab active" onclick="showTab('basicInfo')">Basic Info</button>
            <button class="tab" onclick="showTab('race')">Race</button>
            <button class="tab" onclick="showTab('class')">Class</button>
            <button class="tab" onclick="showTab('attributes')">Attributes</button>
            <button class="tab" onclick="showTab('details')">Character Details</button>
            <button class="tab" onclick="showTab('equipment')">Equipment</button>
            {% if current_user.is_admin %}
                <button class="tab" onclick="showTab('debug')">Admin Tab</button>
            {% else %}
                <p>User is NOT authenticated.</p>
            {% endif %}
        </div>

        <form method="POST" action="{{ url_for('character_bp.create') }}">

            <!-- Basic Info -->
            <div id="basicInfo" class="tab-content active">
                <h2>Basic Info</h2>
                <label for="charname">Enter your character's name:</label>
                <input type="text" id="charname" name="charname" placeholder="Enter character name"><br>

                <label for="ruleset">Choose your ruleset:</label>
                <select id="ruleset" name="ruleset">
                    <option value="2014">2014 (Original)</option>
                    <option value="2024">2024 (Updated)</option>
                </select><br>

                <label for="xp_method">Experience Method:</label>
                <select id="xp_method" name="xp_method">
                    <option value="xp">XP</option>
                    <option value="milestone">Milestone</option>
                </select><br>

                <label for="encumbrance">Encumbrance Rules:</label>
                <select id="encumbrance" name="encumbrance">
                    <option value="yes">Use Encumbrance</option>
                    <option value="no">No Encumbrance</option>
                </select>
            </div>

            <!-- Race -->
            <div id="race" class="tab-content">
                <!-- Make sure to add an option to decide between rulesets somehow (2014 vs 2024) -->
                <h2>Choose Your Race</h2>
                <label for="charrace">Choose your character's race:</label>
                <select id="charrace" name="charrace">
                    {% for dnd_race in all_races %}
                        <option value="{{ dnd_race.race_id }}">
                            {{ dnd_race.name }}
                        </option>
                    {% endfor %}
                </select><br>

                <button type="button" onclick="window.location.href='/homebrew/races'">Browse Homebrew Races</button>
            </div>

            <!-- Class -->
            <div id="class" class="tab-content">
                {% for dnd_class in all_classes %}
                <label for="{{dnd_class.name}}">{{ dnd_class.name }}: </label>
                <button type="button" onclick="adjustStat('{{dnd_class.name}}', -1)">-</button>
                <input type="number" id="{{dnd_class.name}}" name="multiclass_level" value="0" min="0" max="20" readonly>
                <button type="button" onclick="adjustStat('{{dnd_class.name}}', 1)">+</button><br>
                {% endfor %}




                
                
                
                
                <br><button type="button" onclick="window.location.href='/homebrew/classes'">Browse Homebrew Classes</button>
            </div>

            <!-- Attributes -->
            <div id="attributes" class="tab-content">
                <h2>Set Your Attributes</h2>
                <p>Choose a method to determine your stats:</p>
                <label for="stat_method">Stat Allocation Method:</label>
                <select id="stat_method" name="stat_method">
                    <option value="standard_array">Standard Array</option>
                    <option value="point_buy">Point Buy</option>
                    <option value="roll">Roll</option>
                    <option value="manual">Manual</option>
                </select><br>

                <!-- Standard Array -->
                <div id="standard_array" style="display: block;">
                    <p><br>Assign values from the standard array <span id="attribute_array">[15, 14, 13, 12, 10, 8]<br></span>:</p>
                </div>

                <!-- Point Buy -->
                <div id="point_buy" style="display: none;">
                    <p><br>Allocate points (Max 27)<span id="remainingPoints">27</span><br></p>
                </div>

                <!-- Roll -->
                <div id="roll" style="display: none;">
                    <br>
                    <div style="display: flex; align-items: center; gap: 4px;">
                        <span>Roll </span>
                        <input type="number" id="numDice" style="width: 35px;" value=4 placeholder="e.g., 4"> <!-- 20 px is too small for width -->
                        <span>d</span>
                        <input type="number" id="typeDice" style="width: 35px;" value=6 placeholder="e.g., 6">
                        <span> dice, then the drop lowest </span>
                        <input type="number" id="dropDice" style="width: 35px;" value=1 placeholder="e.g., 1">
                        <span> for each stat.</span>
                    </div>
                    <br>
                    <button type="button" id="rollStatsButton">Roll Stats</button><br>
                    <br><p>Assign values from the rolled values: <span id="roll_attribute_array">Press the roll button to get your values</span></p><br>
                </div>

                <!-- Manual -->
                <div id="manual" style="display: none;">
                    <p><br>Manually set stats (1-20):<br><br></p>
                </div>

                <!-- Manual or Point Buy (Both should have arrows), Rolling and Array should not -->
                <div id="attribute_fields" style="display: block">
                    <div class="attribute-section">
                        <label for="strength">Strength:</label>
                        <button type="button" onclick="adjustStat('strength', -1)">-</button>
                        <input type="number" id="strength" name="strength" value="8" min="1" max="20" readonly>
                        <button type="button" onclick="adjustStat('strength', 1)">+</button>
                    </div>
                    <div class="attribute-section">
                        <label for="dexterity">Dexterity:</label>
                        <button type="button" onclick="adjustStat('dexterity', -1)">-</button>
                        <input type="number" id="dexterity" name="dexterity" value="8" min="1" max="20" readonly>
                        <button type="button" onclick="adjustStat('dexterity', 1)">+</button>
                    </div>
                    <div class="attribute-section">
                        <label for="constitution">Constitution:</label>
                        <button type="button" onclick="adjustStat('constitution', -1)">-</button>
                        <input type="number" id="constitution" name="constitution" value="8" min="1" max="20" readonly>
                        <button type="button" onclick="adjustStat('constitution', 1)">+</button>
                    </div>
                    <div class="attribute-section">
                        <label for="intelligence">Intelligence:</label>
                        <button type="button" onclick="adjustStat('intelligence', -1)">-</button>
                        <input type="number" id="intelligence" name="intelligence" value="8" min="1" max="20" readonly>
                        <button type="button" onclick="adjustStat('intelligence', 1)">+</button>
                    </div>
                    <div class="attribute-section">
                        <label for="wisdom">Wisdom:</label>
                        <button type="button" onclick="adjustStat('wisdom', -1)">-</button>
                        <input type="number" id="wisdom" name="wisdom" value="8" min="1" max="20" readonly>
                        <button type="button" onclick="adjustStat('wisdom', 1)">+</button>
                    </div>
                    <div class="attribute-section">
                        <label for="charisma">Charisma:</label>
                        <button type="button" onclick="adjustStat('charisma', -1)">-</button>
                        <input type="number" id="charisma" name="charisma" value="8" min="1" max="20" readonly>
                        <button type="button" onclick="adjustStat('charisma', 1)">+</button>
                    </div>
                </div>
                <div id="attribute_fields_dropdown" style="display: block">
                    <div class="attribute-section">
                        <label for="strength">Strength:</label>
                        <select id="strength_dd" name="stat_method" onchange="checkAvailability(this.id, this.value)">
                            <option value="-1">—</option>
                            <option value="0">value 0</option>
                            <option value="1">value 1</option>
                            <option value="2">value 2</option>
                            <option value="3">value 3</option>
                            <option value="4">value 4</option>
                            <option value="5">value 5</option>
                        </select>
                    </div>
                    <div class="attribute-section">
                        <label for="dexterity">Dexterity:</label>
                        <select id="dexterity_dd" name="stat_method" onchange="checkAvailability(this.id, this.value)">
                            <option value="-1">—</option>
                            <option value="0">value 0</option>
                            <option value="1">value 1</option>
                            <option value="2">value 2</option>
                            <option value="3">value 3</option>
                            <option value="4">value 4</option>
                            <option value="5">value 5</option>
                        </select>
                    </div>
                    <div class="attribute-section">
                        <label for="constitution">Constitution:</label>
                        <select id="constitution_dd" name="stat_method" onchange="checkAvailability(this.id, this.value)">
                            <option value="-1">—</option>
                            <option value="0">value 0</option>
                            <option value="1">value 1</option>
                            <option value="2">value 2</option>
                            <option value="3">value 3</option>
                            <option value="4">value 4</option>
                            <option value="5">value 5</option>
                        </select>
                    </div>
                    <div class="attribute-section">
                        <label for="intelligence">Intelligence:</label>
                        <select id="intelligence_dd" name="stat_method" onchange="checkAvailability(this.id, this.value)">
                            <option value="-1">—</option>
                            <option value="0">value 0</option>
                            <option value="1">value 1</option>
                            <option value="2">value 2</option>
                            <option value="3">value 3</option>
                            <option value="4">value 4</option>
                            <option value="5">value 5</option>
                        </select>
                    </div>
                    <div class="attribute-section">
                        <label for="wisdom">Wisdom:</label>
                        <select id="wisdom_dd" name="stat_method" onchange="checkAvailability(this.id, this.value)">
                            <option value="-1">—</option>
                            <option value="0">value 0</option>
                            <option value="1">value 1</option>
                            <option value="2">value 2</option>
                            <option value="3">value 3</option>
                            <option value="4">value 4</option>
                            <option value="5">value 5</option>
                        </select>
                    </div>
                    <div class="attribute-section">
                        <label for="charisma">Charisma:</label>
                        <select id="charisma_dd" name="stat_method" onchange="checkAvailability(this.id, this.value)">
                            <option value="-1">—</option>
                            <option value="0">value 0</option>
                            <option value="1">value 1</option>
                            <option value="2">value 2</option>
                            <option value="3">value 3</option>
                            <option value="4">value 4</option>
                            <option value="5">value 5</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Character Details -->
            <div id="details" class="tab-content">
                <h2>Character Details</h2><br>
                <h3>Personality Traits:</h3>
                <label for="background">Choose your character's background:</label>
                <select id="background" name="background">
                    {% for background in all_backgrounds %}
                        <option value="{{ background.id }}">{{ background.name }}</option>
                    {% endfor %}
                </select><br>
                <label for="alignment">Choose your character's alignment:</label>
                <select id="alignment" name="alignment">
                    <option value="Lawful Good">Lawful Good</option>
                    <option value="Neutral Good">Neutral Good</option>
                    <option value="Chaotic Good">Chaotic Good</option>
                    <option value="Lawful Neutral">Lawful Neutral</option>
                    <option value="True Neutral">True Neutral</option>
                    <option value="Chaotic Neutral">Chaotic Neutral</option>
                    <option value="Lawful Evil">Lawful Evil</option>
                    <option value="Neutral Evil">Neutral Evil</option>
                    <option value="Chaotic Evil">Chaotic Evil</option>
                </select><br>
                <label for="personality">Personality:</label><br>
                <textarea id="personality" name="personality" rows="4" cols="50"></textarea><br>

                <h3>Physical Traits:</h3>
                <label for="height">Height:</label>
                <input type="text" id="height" name="height"><br>
                <label for="weight">Weight:</label>
                <input type="text" id="weight" name="weight"><br>
                <label for="skin_color">Skin Color:</label>
                <input type="text" id="skin_color" name="skin_color"><br>
                <label for="hair_color">Hair Color:</label>
                <input type="text" id="hair_color" name="hair_color"><br>
                <label for="eye_color">Eye Color:</label>
                <input type="text" id="eye_color" name="eye_color"><br>
                <label for="age">Age:</label>
                <input type="text" id="age" name="age"><br>
                <label for="appearance">General Appearance:</label><br>
                <textarea id="appearance" name="appearance" rows="4" cols="50"></textarea><br>

                <h3>Other Details:</h3>
                <label for="backstory">Backstory:</label><br>
                <textarea id="backstory" name="backstory" rows="4" cols="50"></textarea><br>
                <label for="bonds">Alliances and Organizations:</label><br>
                <textarea id="bonds" name="bonds" rows="4" cols="50"></textarea><br>
                <label for="misc_description">Anything else you'd like to add:</label><br>
                <textarea id="misc_description" name="misc_description" rows="4" cols="50"></textarea>
            </div>

            <!-- Equipment -->
            <div id="equipment" class="tab-content">
                <h2>Starting Equipment</h2>
                <p>Select starting equipment based on your background, class, and race:</p>
                <!-- Generate dynamically based on above-mentioned -->
                <div id="equipment-options">
                    {% for item in starting_equipment %}
                        <label>
                            <input type="checkbox" name="equipment" value="{{ item.id }}">
                            {{ item.name }}
                        </label><br>
                    {% endfor %}
                </div>
                <p>Manual fill in for now</p>
                <div class="form-section">
                    <label for="equipmentList">Equipment List</label>
                    <textarea id="equipmentList" rows="4" placeholder="List your character's equipment"></textarea>
                </div>
            </div>
            <div id="debug" class="tab-content">
                <h2>Information from the Database</h2>

                <p>Character Class: {{ current_class if current_class else "None" }}</p>
                <p>Current Level: {{ current_level if current_level else "N/A" }}</p>
                <p>All Classes: {{ all_classes }}</p>
                <p>All Classes: {% for dnd_class in all_classes %}
                    {{ dnd_class.class_id }} <br>
                    {{ dnd_class.name }} <br>
                    {{ dnd_class.description }} <br>
                    {{ dnd_class.hit_die }} <br>
                    {{ dnd_class.is_official }} <br>
                    {% endfor %}
                </p>
            </div>
            <div class="button-group">
                <br><button type="submit">Save Character</button>
            </div>
        </form>
    </div>
    <script src="../../static/js/character_creator.js"></script>

{% endblock %}