
{% macro insert_character_sheet() %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/character_sheet_view.css') }}">

<!-- TODO: Add Jinja code to fill all locations where dynamic information is needed... -->
<!-- Main Character View-->
<div class="character_viewer" id="character_viewer">
    <!-- Multiuse Block. TODO: Add tabs to block-->
    <div class="multiuse_character_info_switch_block"></div>

    <!-- Hit Points-->
    <div class="character_hit_points_block" id="hit_points_block">
        <div class="hp_modifier_block" id="hp_modifier_block">
            <button id="hp_heal_button" class="hp_heal_button">Heal</button>
            <input type="number" id="hp_change_field" value="0" min="0" max="10000" step="1" class="hp_change_field">
            <button id="hp_damage_button" class="hp_damage_button">Damage</button>
        </div>
        <span class="hit_points_block_label" id="hit_point_label">Hit Points</span>
        <div class="hp_display_block" id="hp_display_block">
            <span class="current_hp_label">Current</span><span class="max_hp_label">Max</span><span class="temp_hp_label">Temp</span>
            <span class="current_hp_field" id="hp_current">{% if char_si["hit_points"] is defined %}{{ char_si["hit_points"] }}{% else %}--{% endif %}</span>
            <span class="hp_divider_label" id="divider">/</span>
            <span class="max_hp_field" id="hp_max">{% if char_si["max_hit_points"] is defined %}{{ char_si["max_hit_points"] }}{% else %}--{% endif %}</span>
            <span class="temp_hp_field" id="hp_temp">{% if char_si["temp_hit_points"] is defined and char_si["temp_hit_points"] > 0 %}{{ char_si["temp_hit_points"] }}{% else %}--{% endif %}</span>
        </div>
    </div>

    <!-- Character Modifiers-->
    <div class="character_modifiers_block" id="modifiers_block">
        {% for mod in char_si["modifier_scores"] %}
        <div class="character_modifier_{{ loop.index }} character_modifier_base" id="modifier_{{ loop.index }}">
            <span class="character_modifier_name" id="modifier_label_{{ loop.index }}">{% if mod["modifier_name"] is defined %}{{ mod["modifier_name"] | capitalize }}{% else %}[Unknown]{% endif %}</span>
            <button class="character_modifier_score_field" id="character_modifier_score_field_{{ loop.index }}">{% if mod["score"] is defined %}{{ mod["score"] }}{% else %}--{% endif %}</button>
            <button class="character_modifier_field" id="character_modifier_field_{{ loop.index }}">{% if mod["value"] is defined %}{% if mod["value"] >= 0 %}+{% endif %}{{ mod["value"] }}{% else %}--{% endif %}</button>
        </div>
        {% endfor %}
    </div>

    <!-- Character Skills-->
    <div class="character_skills_block" id="character_skills">
        <!-- TODO: Add Jinja code to automatically populate skills with characters skills-->
        <!-- Jinja For loop-->
         {% for skill in char_si['skills'][:19] %}
            {% set is_proficient = [] %}{% for proficiency in char_si['proficiencies'] %}{% if ('skill' in (proficiency['type_name'] | lower )) and ((skill["skill_name"] | lower ) in (proficiency['proficiency_name'] | lower)) %} {% set _ = is_proficient.append(1) %} {% endif %}{% endfor %}
            <div class="character_skill_line" id="skill_{{skill['skill_id']}}">
                <span class="character_skill_line_proficient" id="skill_{{skill['skill_id']}}_proficient">{% if is_proficient %}&#9679;{% else %}&#9675;{% endif %}</span>  <!-- TODO: Add Jinja code to check if skill is proficient (represented by &#9679; )-->
                <span class="character_skill_line_skill_name" id="skill_{{skill['skill_id']}}_name">{% if skill["skill_name"] is defined %}{{ skill["skill_name"] }}{% else %}[Unknown Skill Name]{% endif %}</span>
                <span class="character_skill_line_mod" id="mod_{{skill['skill_id']}}_label">{% if skill["modifier_type"] is defined %}{{ skill["modifier_type"][:3].upper() }}{% else %}[??]{% endif %}</span>
                <button id="skill_{{skill['skill_id']}}_modifier" name="skill_id_modifier" class="character_skill_line_bonus"> 
                    {% if skill["modifier_value"] is defined %}
                        {% if is_proficient and char_si["proficiency_bonus"] is defined %}
                            {% if (skill["modifier_value"] + char_si["proficiency_bonus"]) >= 0 %}+{% endif %}{{ skill["modifier_value"]+char_si["proficiency_bonus"] }}
                        {% else %}
                            {% if skill["modifier_value"] >= 0 %}+{% endif %}{{ skill["modifier_value"] }}
                        {% endif %}
                    {% else %}--
                    {% endif %}
                </button>
            </div>
        {% endfor %}
        <!-- end Jinja loop-->
        <div class="character_skills_title_bar" id="character_skills_title"><span class="character_skills_base_title character_skills_proficient_title">Prof.</span><span class="character_skills_base_title character_skills_skill_title">Skill</span><span class="character_skills_base_title character_skills_modifier_title">Mod</span><span class="character_skills_base_title character_skills_bonus_title">Bonus</span></div>
        <div class="character_skills_footer_bar" id="character_skills_footer"><span class="character_skills_block_label" id="skill_block_label">Skills</span></div>
    </div>

    <!-- Character Class Info-->
    <div class="character_info_block" id="character_info_block">
        <span class="character_info_label" id="character_class_and_levels">
            {% if char_si["classes"] is defined %}
                {% for cls in char_si["classes"] %}
                    Level {{ cls["level"]}} {{ cls["class_name"] }}{% if not loop.last %},   {% if ((char_si["classes"] |length)/4) > 1 %}&nbsp;{% endif %}{% endif %}
                    {% if loop.index % (((char_si["classes"] |length)/4)|round(0, 'ceil')) == 0 %}<br>{% else %}&#9;{% endif %}
                {% endfor %}
            {% else %}[Unknown Class(es)]{% endif %}
        </span>
    </div>

    <!-- Character Name / Race / Level-->
    <div class="title_block" id="title_block"><span class="character_name_label" id="character_name">{% if char_si["name"] is defined %}{{ char_si["name"] }}{% else %}Unknown{% endif %}</span>
        <span class="character_race_label">{% if char_si["race_name"] is defined %}{{ char_si["race_name"] }}{% else %}Unknown Race{% endif %}</span>
        <span class="character_level_label">{% if char_si["total_level"] is defined %}Level {{ char_si["total_level"] }}{% else %}[Unknown Level / Exp]{% endif %}</span>
        <div class="character_profile_image" id="character_profile_image"></div>
    </div>

    <!-- Character Combat-ish Stats-->
    <div class="character_combat_stats_block" id="combat_stats">
        <div class="combat_skill_base inspiration_block" id="inspiration_block">
            <span class="inspiration_label" id="inspiration_label">Inspiration</span>
            <button id="inspiration_field" class="inspiration_field">{% if char_si["inspiration"] is defined and char_si["inspiration"] %}[ {% if char_si["inspiration"] == 1 %}X{% else %}{{ char_si["inspiration"] }}{% endif %} ]{% else %}[   ]{% endif %}</button>
        </div>
        <div class="combat_skill_base initiative_block" id="initiative_block">
            <span class="initiative_label" id="initiative_label">Initiative<br></span>
            <button id="initiative_field" class="initiative_field">{% if char_si["initiative"] is defined %}{% if char_si["initiative"] >= 0 %}+{% endif %}{{ char_si["initiative"] }}{% else %}+X{% endif %}</button>
        </div>
        <div class="combat_skill_base armor_class_block" id="armor_class_block">
            <span class="armor_class_bottom_label" id="armor_class_bottom_label">Class</span><span class="armor_class_top_label" id="armor_class_top_label">Armor</span>
            <span class="armor_class_field" id="armor_class">{% if char_si["armor_class"] is defined %}{{ char_si["armor_class"] }}{% else %}--{% endif %}</span>
        </div>
        <div class="combat_skill_base walking_speed_block" id="walking_speed_block">
            <span class="walking_speed_bottom_label" id="walking_speed_bottom_label">Speed</span><span class="walking_speed_top_label" id="walking_speed_top_label">Walking</span>
            <span class="walking_speed_field" id="walking_speed">{% if char_si["speed"] is defined %}{{ char_si["speed"] }}{% else %}--{% endif %}</span>
        </div>
        <div class="combat_skill_base passive_perception_block" id="passive_perception_block">
            <span class="passive_perception_bottom_label" id="passive_perception_bottom_label">Perception</span><span class="passive_perception_top_label" id="passive_perception_top_label">Passive<br></span>
            <span class="passive_perception_field" id="passive_perception">{% if char_si["passive_perception"] is defined %}{{ char_si["passive_perception"] }}{% else %}--{% endif %}</span>
        </div>
        <div class="combat_skill_base proficiency_bonus_block" id="proficiency_bonus_block">
            <span class="proficiency_bonus_bottom_label" id="proficiency_bonus_bottom_label">Bonus</span><span class="proficiency_bonus_top_label" id="proficiency_bonus_top_label">Proficiency</span>
            <span class="proficiency_bonus_field" id="proficiency_bonus">{% if char_si["proficiency_bonus"] is defined %}+{{ char_si["proficiency_bonus"] }}{% else %}--{% endif %}</span>
        </div>
    </div>

    <!-- Character Saving Throws-->
    <div class="saving_throws_block" id="saving_throws_block">
        <div class="saving_throws_block_footer" id="saving_throws_footer">
            <span class="saving_throws_block_label" id="saving_throws_block_label">Saving Throws</span>
        </div>
        <!-- Strength -->
        {% set is_proficient = [] %}{% for proficiency in char_si['proficiencies'] %}{% if ('saving-throw' in (proficiency['type_name'] | lower )) and ((STR | lower ) in (proficiency['proficiency_name'] | lower)) %} {% set _ = is_proficient.append(1) %} {% endif %}{% endfor %}
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_1" id="saving_throw_1">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient">{% if is_proficient %}&#9679;{% else %}&#9675;{% endif %}</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation">STR</span>
            <button id="saving_throw_1_field" class="saving_throw_field">
                {% if char_si["modifier_scores"] is defined %}
                    {% if is_proficient and char_si["proficiency_bonus"] is defined %}
                        {%if (char_si["modifier_scores"][4].value + char_si["proficiency_bonus"]) >= 0 %}+{% endif %}{{ char_si["modifier_scores"][4].value + char_si["proficiency_bonus"] }}
                    {% else %}
                        {%if char_si["modifier_scores"][4].value >= 0 %}+{% endif %}{{ char_si["modifier_scores"][4].value }}
                    {% endif %}
                {% else %}--
                {% endif %}
            </button>
        </div>
        <!-- Dexterity -->
        {% set is_proficient = [] %}{% for proficiency in char_si['proficiencies'] %}{% if ('saving-throw' in (proficiency['type_name'] | lower )) and ((DEX | lower ) in (proficiency['proficiency_name'] | lower)) %} {% set _ = is_proficient.append(1) %} {% endif %}{% endfor %}
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_2" id="saving_throw_2">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_1">{% if is_proficient %}&#9679;{% else %}&#9675;{% endif %}</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_1">DEX</span>
            <button id="saving_throw_1_field_1" class="saving_throw_field">
                {% if char_si["modifier_scores"] is defined %}
                    {% if is_proficient and char_si["proficiency_bonus"] is defined %}
                        {%if (char_si["modifier_scores"][1].value + char_si["proficiency_bonus"]) >= 0 %}+{% endif %}{{ char_si["modifier_scores"][1].value + char_si["proficiency_bonus"] }}
                    {% else %}
                        {%if char_si["modifier_scores"][1].value >= 0 %}+{% endif %}{{ char_si["modifier_scores"][1].value }}
                    {% endif %}
                {% else %}--
                {% endif %}
            </button>
        </div>
        <!-- Constitution -->
        {% set is_proficient = [] %}{% for proficiency in char_si['proficiencies'] %}{% if ('saving-throw' in (proficiency['type_name'] | lower )) and ((CON | lower ) in (proficiency['proficiency_name'] | lower)) %} {% set _ = is_proficient.append(1) %} {% endif %}{% endfor %}
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_3" id="saving_throw_3">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_2">{% if is_proficient %}&#9679;{% else %}&#9675;{% endif %}</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_2">CON</span>
            <button id="saving_throw_1_field_2" class="saving_throw_field">
                {% if char_si["modifier_scores"] is defined %}
                    {% if is_proficient and char_si["proficiency_bonus"] is defined %}
                        {%if (char_si["modifier_scores"][0].value + char_si["proficiency_bonus"]) >= 0 %}+{% endif %}{{ char_si["modifier_scores"][0].value + char_si["proficiency_bonus"] }}
                    {% else %}
                        {%if char_si["modifier_scores"][0].value >= 0 %}+{% endif %}{{ char_si["modifier_scores"][0].value }}
                    {% endif %}
                {% else %}--
                {% endif %}
            </button>
        </div>
        <!-- Intelligence -->
        {% set is_proficient = [] %}{% for proficiency in char_si['proficiencies'] %}{% if ('saving-throw' in (proficiency['type_name'] | lower )) and ((INT | lower ) in (proficiency['proficiency_name'] | lower)) %} {% set _ = is_proficient.append(1) %} {% endif %}{% endfor %}
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_4" id="saving_throw_4">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_3">{% if is_proficient %}&#9679;{% else %}&#9675;{% endif %}</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_3">INT</span>
            <button id="saving_throw_1_field_3" class="saving_throw_field">
                {% if char_si["modifier_scores"] is defined %}
                    {% if is_proficient and char_si["proficiency_bonus"] is defined %}
                        {%if (char_si["modifier_scores"][3].value + char_si["proficiency_bonus"]) >= 0 %}+{% endif %}{{ char_si["modifier_scores"][3].value + char_si["proficiency_bonus"] }}
                    {% else %}
                        {%if char_si["modifier_scores"][3].value >= 0 %}+{% endif %}{{ char_si["modifier_scores"][3].value }}
                    {% endif %}
                {% else %}--
                {% endif %}
            </button>
        </div>
        <!-- Wisdom -->
        {% set is_proficient = [] %}{% for proficiency in char_si['proficiencies'] %}{% if ('saving-throw' in (proficiency['type_name'] | lower )) and ((WIS | lower ) in (proficiency['proficiency_name'] | lower)) %} {% set _ = is_proficient.append(1) %} {% endif %}{% endfor %}
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_5" id="saving_throw_5">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_4">{% if is_proficient %}&#9679;{% else %}&#9675;{% endif %}</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_4">WIS</span>
            <button id="saving_throw_1_field_4" class="saving_throw_field">
                {% if char_si["modifier_scores"] is defined %}
                    {% if is_proficient and char_si["proficiency_bonus"] is defined %}
                        {%if (char_si["modifier_scores"][2].value + char_si["proficiency_bonus"]) >= 0 %}+{% endif %}{{ char_si["modifier_scores"][2].value + char_si["proficiency_bonus"] }}
                    {% else %}
                        {%if char_si["modifier_scores"][2].value >= 0 %}+{% endif %}{{ char_si["modifier_scores"][2].value }}
                    {% endif %}
                {% else %}--
                {% endif %}
            </button>
        </div>
        <!-- Charisma -->
        {% set is_proficient = [] %}{% for proficiency in char_si['proficiencies'] %}{% if ('saving-throw' in (proficiency['type_name'] | lower )) and ((CHA | lower ) in (proficiency['proficiency_name'] | lower)) %} {% set _ = is_proficient.append(1) %} {% endif %}{% endfor %}
        <div class="saving_throw_modifier_base saving_throw_modifier_1 saving_throw_6" id="saving_throw_6">
            <span class="saving_throw_proficient" id="saving_throw_1_proficient_5">{% if is_proficient %}&#9679;{% else %}&#9675;{% endif %}</span>
            <span class="saving_throw_abbreviation" id="saving_throw_1_abbreviation_5">CHA</span>
            <button id="saving_throw_1_field_5" class="saving_throw_field">
                {% if char_si["modifier_scores"] is defined %}
                    {% if is_proficient and char_si["proficiency_bonus"] is defined %}
                        {%if (char_si["modifier_scores"][5].value + char_si["proficiency_bonus"]) >= 0 %}+{% endif %}{{ char_si["modifier_scores"][5].value + char_si["proficiency_bonus"] }}
                    {% else %}
                        {%if char_si["modifier_scores"][5].value >= 0 %}+{% endif %}{{ char_si["modifier_scores"][5].value }}
                    {% endif %}
                {% else %}--
                {% endif %}
            </button>
        </div>
    </div>


</div>

{%- endmacro %}