{% extends "base.html" %}

{% block title_content %}{{ character_id }}'s Profile{% endblock %}

{% block body_content %}
    <div class="main-content">
        {% if current_user.is_authenticated %}
        <h1>{{ character.name }}</h1>
        <p>Owner: {{ user.username }}</p>

        <h2>Character Sheet</h2>
        {% from "character/character_sheet_view.html" import insert_character_sheet with context %}
        <div class="default_sheet_container">
            {{ insert_character_sheet() }}
        </div>
        <a href="/profile/{{current_user.username}}">Back to Profile</a>

        <div id="dice_rolling" class="dice_rolling">
            <h1>Your Dice Rolls:</h1>
            <h2 id="numberDisplay">20</h2>
            <p id="rollingTextDisplay"> </p>
            <button onclick="rollDice(1)">Roll</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        {% else %}
        <h1>You're not logged in!</h1>
        <a href="{{ url_for('auth_bp.login') }}">Click here to log in.<br></a>
        <a href="{{ url_for('auth_bp.register') }}">Or, you can click here to create a new account!</a>

        {%endif%}

    </div>
    <script src="../../static/js/character_rolling.js"></script>

    
{% endblock %}