<div class="auth-container">
  <div class="auth-form">
    <a class="logoLink" routerLink="/home">
      <img src="assets/images/RILogoWithTextNoBorder.png" alt="Logo" class="auth-logo">
    </a>
    <h2>Create an Account</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="input-field" placeholder="YourEmail@SomeDomain" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" class="input-field" placeholder="CreativeUsername" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="input-field" placeholder="YourPasswordHere!" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" class="input-field" placeholder="ConfirmPassword" required>
      </div>
      <button class="auth-button" type="submit">Sign up</button>
      <div class="extra-links">
        <p class="link-text">Already Have an Account? <a routerLink="/login">Log In</a></p>
      </div>
    </form>
  </div>
</div>
