{% extends "base.html" %}

{% block title_content %}Home{% endblock %}

{% block body_content %}
	<nav>
	<ul>
		{% if current_user.is_authenticated %}
		<a href="{{ url_for('auth_bp.logout') }}">Log Out</a>
		{% else %}
		<a href="{{ url_for('auth_bp.login') }}">Log In</a>
		{% endif %}
		{% if not current_user.is_authenticated %}
		 |
		<a href="{{ url_for('auth_bp.register') }}">Create Account</a>
		{% endif %}
		{% if current_user.is_authenticated %}
		 |
		<a href="/profile/{{current_user.username}}">Your Profile</a>
		{% endif %}
	</ul>
	</nav>
	{% if current_user.is_authenticated %}
	<h1>You are logged in.</h1>
	{% else %}
	<h1>You are not logged in</h1>
	{% endif %}
{% endblock %}
