<div class="homebrew-content">
    <h2>My Homebrew</h2>
    <div class="homebrew-section">
        <h3>Spells</h3>
        @if (spells.length > 0) {
          <div class="spell-cards">
            @for (spell of spells; track spell.id) {
              <div class="spell-card">
                <div class="spell-header">
                  <h4>{{ spell.spell_name }}</h4>
                  <span class="spell-level">{{ spell.level }} {{ spell.school }}</span>
                </div>
                <div class="spell-description">
                  <p>{{ spell.description }}</p>
                </div>
                <div class="spell-actions">
                  <button class="edit-button" (click)="navigateToEditSpells(spell.id)">Edit</button>
                </div>
              </div>
            }
          </div>
        } @else {
          <p>No spells created yet.</p>
        }
      </div>
      <div class="homebrew-section">
        <h3>Backgrounds</h3>
        @if (backgrounds.length > 0) {
          <div class="background-cards">
            @for (background of backgrounds; track background.id) {
              <div class="background-card">
                <div class="background-header">
                  <h4>{{ background.background_name }}</h4>
                </div>
                <div class="background-description">
                  <p>{{ background.background_description }}</p>
                </div>
                <div class="background-actions">
                  <button class="edit-button" (click)="navigateToEditBackground(background.id)">Edit</button>
                </div>
              </div>
            }
          </div>
        } @else {
          <p>No backgrounds created yet.</p>
        }
      </div>
  </div>